/* real stuff */

body {
  background: #fcfcfc url('../img/retina_dust.png');
  color: #2e2634;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

strong {
  font-weight: 700;
}

h1, h2, h3, .topbar a { font-weight: normal; line-height: 1.5em; font-family: "Headland One", Georgia, serif; }

h1 a, h2 a {
  text-decoration: none;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 14pt;
}

a {
  color: #59449B;
}

a:hover {
  color: #39247B;
}

article {
  margin: 1em auto;
}

article blockquote {
  margin: 1em;
}

article li {
  margin-left: .25em;
}

ul ol, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

article h1 {
  text-shadow: 0px 2px 2px rgba(255,255,255,1), 0px -1px 1px rgba(0,0,0,.5);
}

article p, article blockquote, .addthis_toolbox {
  margin: 0 auto 1em auto;
}

article footer {
  margin-bottom: 2em;
}

footer {
  border-top: solid 1px #ddd;
  border-bottom: solid 10px #ddd;
  background: rgba(255,255,255,.5);
  font-style: italic;
  padding: 1em;
  margin-top: 1em;
}

pre, code {
  background: rgba(0,0,0,.1);
  border-radius: 2px;
  font-size: 13px;
}

pre {
  border-bottom: solid 1px #ccc;
  border-left: solid 10px #ccc;
  padding: 1em;
  margin: 1em 0;
}

code {
  padding: 0 .25em;
  border: solid 1px #ddd;
}

pre code {
  background: transparent;
  border: none;
}

blockquote {
  font-style: italic;
  color: #333;
  background: rgba(255,255,255,.5);
  border-left:10px solid #ddd;
  margin:1.5em 10px;
  padding:.5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
}

blockquote p {
  display:inline;
}

aside h1 {
  font-size: 18pt;
}

.btn {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,.25);
  background-color: #59449B;
  border-radius: 2px;
  border: solid 1px #fff;
  border-bottom: solid 2px #eee;
  text-decoration: none;
  padding: .25em .5em;
  display: inline-block;
}

.btn:hover {
  color: #eee;
  background-color: #39247B;
}

.topbar {
  background: #59449B;
  border-bottom: solid 2px #ddd;
  width: 100%;
}

.topbar h1 {
  color: #fff;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 14pt;
}

.topbar nav, .topbar ul {
  padding: 0;
  float: right;
  margin: 0;
}

.topbar li {
  display: inline-block;
  margin-left: 1em;
}

.topbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .25em;
  font-size: 20px;
}

.topbar a:hover {
  color: #ddd;
}

.archive ul {
  list-style: none;
}

.archive time {
  background: #999;
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
}

.archive li {
  margin-bottom: .5em;
}

.archive a {
  padding-left: .5em;
}

.oldie article {
  text-align: center;
}

.oldie article * {
  text-align: left;
}

.row, .row img {
  max-width: 45em;
  margin: auto;
}

.siteheader {
  margin: 1em auto 2em auto;
}

.siteheader h1 {
  color: #59449B;
  line-height: 1em;
  margin: 0;
}

.siteheader h2 {
  line-height: 1em;
  margin: 0;
}

@media handheld, only screen and (max-width: 767px) {
  .topbar nav {
    float: none;
  }

  .topbar a {
    padding-left: 0;
  }

  .siteheader h1 {
    color: #98193d;
    line-height: 1em;
    font-size: 40px;
  }

  .siteheader h2 {
    font-size: 41px;
    line-height: 1em;
  }
}

/* code highlighting */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */
